@import "scss/main";

.cursor {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .cursor {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    pointer-events: none;
    z-index: 998;
    border: 2px $primary dotted;
    opacity: 1;
    mix-blend-mode: difference;
  }

  .dot {
    position: fixed;
    left: 0;
    top: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    pointer-events: none;
    z-index: 999;
    background-color: $neutral-light;
    mix-blend-mode: difference;
  }
}
