@use "scss/reset";
@import "scss/main";
@import "../public/font/fonts.css";

body {
  font-family: "NB International", Arial, Helvetica, sans-serif;
  color: $neutral-light;
  background-color: $neutral-dark;
}
