@import "scss/main";

.container {
  overflow-x: hidden;
}

.noise {
  animation: grain 6s steps(10) infinite;
  background-image: url("/noise.png");
  background-repeat: repeat;
  height: 300%;
  left: -50%;
  opacity: 0.05;
  position: fixed;
  top: -100%;
  width: 300%;
  z-index: 100;
  pointer-events: none;
}
