@import "scss/main";

.container {
  padding: 0 30px;

  .content {
    .card {
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
      background-color: $primary;
      color: $neutral-dark;
      font-family: "Altero";
      font-size: 24px;
      line-height: 1.2;
      padding: 24px;
      border-radius: 12px;
      display: grid;
      gap: 24px;
      margin-bottom: 80px;
    }

    .feature {
      max-width: 600px;
      margin: 0 auto 70px auto;
      padding-top: 18px;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      .title {
        text-align: left;
        margin-bottom: 60px;
      }

      .text {
        padding: 24px;
        font-size: 18px;
        border-radius: 12px;
        margin-bottom: 30px;
        background-color: $neutral-dark-fade;
      }

      svg {
        width: 100%;
      }

      .details {
        width: 100%;
        height: 70px;
        max-height: 70px;
        margin-top: 70px;
        border-top: 2px solid $primary;
        border-bottom: 2px solid $primary;
        display: flex;
        align-items: flex-start;
        font-size: 24px;
        font-family: "Altero";
        transition: ease-in-out max-height 0.8s,
          ease-in-out background-color 0.6s, ease-in-out border-radius 0.6s,
          ease-in-out border 0.6s, ease-in-out color 0.8s;
        box-sizing: border-box;
        position: relative;

        .marquee {
          position: absolute;
          top: 0;
          height: 70px;
        }

        p {
          opacity: 0;
          height: auto;
          line-height: 0;
        }
      }

      .detailsExpanded {
        max-height: 100vh;
        height: auto;
        border-radius: 12px;
        background-color: $primary;
        padding-top: 16px;
        color: $neutral-dark-fade;

        p {
          text-align: justify;
          font-family: "NB International";
          opacity: 1;
          line-height: 1.4;
          height: auto;
          font-size: 21px;
          padding: 36px;
          margin-top: 36px;
          transition: opacity ease-in-out 0.4s;
          transition-delay: 0.5s;
        }
      }
    }
  }
}

@media only screen and (min-width: 576px) {
  .container .content .feature {
    padding-top: 28px;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    padding: 0 72px;

    .content {
      padding-top: 150px;

      .card {
        max-width: 1000px;
        font-size: 36px;
        padding: 48px 36px;
        border-radius: 18px;
        gap: 36px;
        margin-bottom: 150px;
        position: relative;

        &::after {
          content: "";
          background-color: $primary;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          filter: blur(15px);
          z-index: -1;
          opacity: 0.6;
        }
      }

      .feature {
        max-width: none;
        margin: 0 auto 200px auto;
        padding-top: 56px;

        .title {
          text-align: right;
          padding-right: 150px;
          margin-bottom: 100px;
        }

        .text {
          padding: 36px;
          font-size: 30px;
          border-radius: 18px;
          width: 60%;
          margin-bottom: 50px;
          margin-left: 150px;
          background-color: $neutral-dark-fade;
        }

        svg {
          width: 60%;
          align-self: flex-end;
          margin-right: 150px;
        }
      }

      .feature:nth-of-type(odd) {
        .title {
          text-align: left;
          padding-left: 150px;
        }

        .text {
          align-self: flex-end;
          margin-right: 150px;
        }

        svg {
          align-self: flex-start;
          margin-left: 150px;
          width: 50%;
        }
      }

      .feature:last-of-type svg {
        width: 65%;
        margin-right: 90px;
      }
    }
  }
}
