@import "scss/main";

.container {
  display: flex;
  flex-direction: column;
  font-family: "Altero Outline";
  font-size: 36px;
  letter-spacing: 20%;
  line-height: 0;
  transition: color 1.5s ease-in-out;
  font-weight: normal;

  span:nth-of-type(2) {
    opacity: 70%;
  }

  span:nth-of-type(3) {
    opacity: 40%;
  }

  span:nth-of-type(4) {
    opacity: 10%;
  }
}
